hnswlib.egg-info/
build/
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
.cache/
**.DS_Store
*.__pycache__

benchmark_dim384_n10000_t4.csv
embeddings_100k.npy
